<%- include("header") -%>

<div class="container">
    <h1>Recipe Website</h1>
    <p>All recipes were sourced from different sites, but all have been baked and tested by me, on multiple occasians. The banana bread is the simpliest recipe, while the cheesecake and cookies requires a lot more time.</p>

    <h2>Featured Recipes:</h2>
    <ul>
        <li><a href="/recipes/recipe1">Banana Bread</a></li>
        <li><a href="/recipes/recipe2">Chocolate Cheesecake</a></li>
        <li><a href="/recipes/recipe3">48 Hour Chocolate Chop Cookies</a></li>
    </ul>
</div>

<%- include("footer") -%>