<!-- home page view, shows text, links to the other recipe pages, and a small bit of background on the recipes  -->

<%- include("header") -%>

<div class="container">
    <h1>Recipe Website</h1>
    <p>All recipes were sourced from different sites, but all have been baked and tested by me, on multiple occasians. The banana bread is the simpliest recipes, while the cheesecake and cookies requires a lot more time.</p>

    <h2>Featured Recipes:</h2>
    
        <a href="/recipes/recipe1">Banana Bread</a>
        <a href="/recipes/recipe2">Chocolate Cheesecake</a>
        <a href="/recipes/recipe3">48 Hour Chocolate Chip Cookies</a>

</div>

<%- include("footer") -%>