html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #6fccbf 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: monospace;
}

h1 {
  color: black;
  padding: 5px;
}

p {
  margin: 0;
  padding: 10px;
  font-weight: 200;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
